.lightbox {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 1250px;
  height: 100vh;
  z-index: 3;
  display: none;

  &-media {
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    color: $color-primary;
    min-height: 200px;
  }

  h3 {
    font-weight: 400;
  }

  img,
  video {
    max-width: calc(100vw - 80px);
    max-height: calc(100vh - 100px);
    height: auto;
    text-align: center;

    @media (min-width: 800px) {
      max-width: calc(100vw - 180px);
    }

    @media (min-width: 1250px) {
      max-width: 1070px;
    }
  }

  button {
    position: absolute;
    border: none;
    background: none;
    color: $color-primary;

    &:hover {
      cursor: pointer;
    }

    @media (min-width: 600px) {
      font-size: 1.6em;
    }

    @media (min-width: 800px) {
      font-size: 2.2em;
    }
  }

  &-nav {
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
  }

  &-close {
    right: 15px;
    top: 3%;
    z-index: 5;

    @media (min-width: 800px) {
      right: 30px;
    }
  }

  &-left {
    left: 15px;
    height: 100vh;

    @media (min-width: 800px) {
      left: 30px;
    }
  }

  &-right {
    right: 15px;
    height: 100vh;

    @media (min-width: 800px) {
      right: 30px;
    }
  }

  &-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    display: none;
  }
}
